<a href="https://colab.research.google.com/github/AkAsH-2pac/car-class-and-price/blob/main/car_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
df = pd.read_csv("/content/drive/MyDrive/cars_price.csv")

In [1]:
import numpy as np
import pandas as pd

In [10]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [11]:
df.shape

(205, 26)

In [12]:
from sklearn import preprocessing

In [13]:
Label_Encoder = preprocessing.LabelEncoder()

In [14]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
df['make'] = Label_Encoder.fit_transform(df['make'])
df['make'].unique()
df['fuel-type'] = Label_Encoder.fit_transform(df['fuel-type'])
df['fuel-type'].unique()
df['aspiration'] = Label_Encoder.fit_transform(df['aspiration'])
df['aspiration'].unique()
df['num-of-doors'] = Label_Encoder.fit_transform(df['num-of-doors'])
df['num-of-doors'].unique()
df['body-style'] = Label_Encoder.fit_transform(df['body-style'])
df['body-style'].unique()
df['engine-type'] = Label_Encoder.fit_transform(df['engine-type'])
df['engine-type'].unique()
df['drive-wheels'] = Label_Encoder.fit_transform(df['drive-wheels'])
df['drive-wheels'].unique()
df['num-of-cylinders'] = Label_Encoder.fit_transform(df['num-of-cylinders'])
df['num-of-cylinders'].unique()
df['engine-location'] = Label_Encoder.fit_transform(df['engine-location'])
df['engine-location'].unique()
df['fuel-system'] = Label_Encoder.fit_transform(df['fuel-system'])
df['fuel-system'].unique()

array([5, 1, 4, 0, 7, 2, 3, 6])

In [18]:
df["fuel-type"] = pd.Categorical(df["fuel-type"]).codes
df["aspiration"] = pd.Categorical(df["aspiration"]).codes
df["num-of-doors"] = pd.Categorical(df["num-of-doors"]).codes
df["body-style"] = pd.Categorical(df["body-style"]).codes
df["drive-wheels"] = pd.Categorical(df["drive-wheels"]).codes
df["engine-location"] = pd.Categorical(df["engine-location"]).codes
df["fuel-system"] = pd.Categorical(df["fuel-system"]).codes

In [ ]:
df

In [ ]:
df['wheel-base']=df['wheel-base'].astype(int)
df['length']=df['wheel-base'].astype(int)
df['width']=df['wheel-base'].astype(int)
df['bore']=df['wheel-base'].astype(int)
df['stroke']=df['wheel-base'].astype(int)
df['engine-type']=df['engine-type'].astype(int)
df['num-of-cylinders']=df['num-of-cylinders'].astype(int)
df['compression-ratio']=df['compression-ratio'].astype(int)
df

In [21]:
df.isna()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
df['normalized-losses'] = df['normalized-losses'].replace('?',np.nan)
df['bore'] = df['bore'].replace('?',np.nan)
df['stroke'] = df['stroke'].replace('?',np.nan)
df['horsepower'] = df['horsepower'].replace('?',np.nan)
df['peak-rpm'] = df['peak-rpm'].replace('?',np.nan)
df['price'] = df['price'].replace('?',np.nan)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,0,1,0,2,0,2,0,88,...,130,5,88,88,9,111,5000,21,27,13495
1,3,NaN,0,1,0,2,0,2,0,88,...,130,5,88,88,9,111,5000,21,27,16500
2,1,NaN,0,1,0,2,2,2,0,94,...,152,5,94,94,9,154,5000,19,26,16500
3,2,164,1,1,0,1,3,1,0,99,...,109,5,99,99,10,102,5500,24,30,13950
4,2,164,1,1,0,1,3,0,0,99,...,136,5,99,99,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21,1,0,1,3,2,0,109,...,141,5,109,109,9,114,5400,23,28,16845
201,-1,95,21,1,1,1,3,2,0,109,...,141,5,109,109,8,160,5300,19,25,19045
202,-1,95,21,1,0,1,3,2,0,109,...,173,5,109,109,8,134,5500,18,23,21485
203,-1,95,21,0,1,1,3,2,0,109,...,145,3,109,109,23,106,4800,26,27,22470
204,-1,95,21,1,1,1,3,2,0,109,...,141,5,109,109,9,114,5400,19,25,22625

In [23]:
df['normalized-losses'].fillna(0,inplace=True)
df['bore'].fillna(0,inplace=True)
df['stroke'].fillna(0,inplace=True)
df['horsepower'].fillna(0,inplace=True)
df['peak-rpm'].fillna(0,inplace=True)
df['price'].fillna(0,inplace=True)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,0,1,0,2,0,2,0,88,...,130,5,88,88,9,111,5000,21,27,13495
1,3,0,0,1,0,2,0,2,0,88,...,130,5,88,88,9,111,5000,21,27,16500
2,1,0,0,1,0,2,2,2,0,94,...,152,5,94,94,9,154,5000,19,26,16500
3,2,164,1,1,0,1,3,1,0,99,...,109,5,99,99,10,102,5500,24,30,13950
4,2,164,1,1,0,1,3,0,0,99,...,136,5,99,99,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21,1,0,1,3,2,0,109,...,141,5,109,109,9,114,5400,23,28,16845
201,-1,95,21,1,1,1,3,2,0,109,...,141,5,109,109,8,160,5300,19,25,19045
202,-1,95,21,1,0,1,3,2,0,109,...,173,5,109,109,8,134,5500,18,23,21485
203,-1,95,21,0,1,1,3,2,0,109,...,145,3,109,109,23,106,4800,26,27,22470
204,-1,95,21,1,1,1,3,2,0,109,...,141,5,109,109,9,114,5400,19,25,22625

In [ ]:
df.shape

In [25]:
x = df.drop(['price'],axis = 1)
x

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,0,0,1,0,2,0,2,0,88,...,2,130,5,88,88,9,111,5000,21,27
1,3,0,0,1,0,2,0,2,0,88,...,2,130,5,88,88,9,111,5000,21,27
2,1,0,0,1,0,2,2,2,0,94,...,3,152,5,94,94,9,154,5000,19,26
3,2,164,1,1,0,1,3,1,0,99,...,2,109,5,99,99,10,102,5500,24,30
4,2,164,1,1,0,1,3,0,0,99,...,1,136,5,99,99,8,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21,1,0,1,3,2,0,109,...,2,141,5,109,109,9,114,5400,23,28
201,-1,95,21,1,1,1,3,2,0,109,...,2,141,5,109,109,8,160,5300,19,25
202,-1,95,21,1,0,1,3,2,0,109,...,3,173,5,109,109,8,134,5500,18,23
203,-1,95,21,0,1,1,3,2,0,109,...,3,145,3,109,109,23,106,4800,26,27
204,-1,95,21,1,1,1,3,2,0,109,...,2,141,5,109,109,9,114,5400,19,25

In [ ]:
y = df['price']
y

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [ ]:
xtrain,xtest,ytrain,ytest

In [30]:
final_model = LinearRegression()

NameError: ignored

In [31]:
final_model.fit(xtrain,ytrain,sample_weight=2)

NameError: ignored

In [32]:
y_pred = final_model.predict(x)

NameError: ignored

In [33]:
y_pred

NameError: ignored

In [34]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [35]:
mse = mean_squared_error(y,y_pred)
mae = mean_absolute_error(y,y_pred)
r2_score = r2_score(y,y_pred)

NameError: ignored

In [36]:
mse

NameError: ignored

In [37]:
mae

NameError: ignored

In [38]:
r2_score